@charset "utf-8";

/*font*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #F3EEED;
    font-family: 'Poppins', sans-serif;
    margin:0px;
    overflow-x: hidden;
}

h1{
    color: #0C4B05;
    font-size: 2vw;
}

h2 {text-align: center;}

h4{
    color: #FFF;
      font-size: 1.2vw;
      margin-top:27px;  
      margin-right: 1080px;
}

h3{
  color: #FFF;
  font-size: 1.2vw;
  margin-top:35px;  
  margin-right: 5%;
}


form {
    border-style: none;
    display: inline-block;
    place-content: center;
}

legend{
    color:#FFCD00;
    font-size:2vw;
}

.profileprimary{
  margin-left:0%; margin-top:2%;
  width:100%;
  color: #000;
  background-color: #FFCD00;
  border-color: #35495e;
}

.profile_con{
  width:100%;
}

.profile_con form{
  margin-left:0%; margin-top:0%;
  width:100%;
  background-color: #fff;
}

.profile_con label{
  font-family: 'Poppins';
  color: #000;
  font-size: 1.2vw;
  display: inline-block;
  width: 20%;
}

.profile_con2{
  width:100%;
}

.profile_con2 form{
  margin-left:0%; margin-top:0%;
  width:100%;
  height:400px;
  background-color: #FFF;
}


.header{
  background-color: #FFCD00;
  padding-left: 50px;
  color: #0C4B05;
  display: flex;
  width: auto;
}




.header button:hover {
background: #1D6115;
}


.header select{
  margin-top:2%;
  margin-left: 1%;
  font-size: 1vw;
  width: auto;
}

.header label{
  margin-top:2%;
  margin-left: 10%;
}

.header button{
  background-color:transparent;
  color: #FFCD00;
  height: 33px;
  width: 12%;
  border-style: none;
  cursor: pointer;
}


.applistform{
    border-color: #FFCD00;
    border-style: solid;
    margin-top: 2%;
    border-width: 2px;
}

.applistform form{
  margin-left:5%; margin-top:3%;
  width:60%;

}

.applistform label{
  font-family: ABold;
  color: #0C4B05;
  font-size: 1.2vw;
  display: inline-block;
  width: 20%;

}
.container {
    display: flex;
    margin-top: 100px;
}


.topnav {
    background-color: #0C4B05;
    border-bottom: 3px solid #FFCD00;
    overflow: hidden;
    display:flex;
}
  
.topnav a {
    color: #f2f2f2;
    padding: 2% 2% 1% 2%;
    text-decoration: none;
    font-size: 1.3vw;
}

.topnav a:hover {
    background-color: #FFCD00;
    color: #1D6115; 
}
  
.topnav a.active {
    background-color: #1D6115;
    color: white;
}

.logincontainer {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
    display: flex;
    width: 30%;
    height: 380px;
    border-radius: 10px;    
}

.logincontainer2 {
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
  display: flex;
  width: 30%;
  height: 700px;
  border-radius: 10px;  
  margin-top:80px;  
}



.greenbutton {
    background-color:#F3EEED;
    color: #0C4B05;
    border-style:solid;
    border-color: #0C4B05;
    width: 15%; height: 40px;
    border-radius: 20px;
    float: right;
    cursor: pointer;
    font-size: 1vw;
}

.greenbutton:hover {
  background-color:#0C4B05;
  color: #FFCD00;
}




.inputapp{
    font-family: Regular;
    height: 35px;
    font-size: 1vw;
    display: inline-block;
}

.readapp{
    font-family: Regular;
    height: 30px;
    border-style: none;
    font-size: 1.3vw;
    background-color: #F3EEED;
    margin-bottom: 2%;
}

.title {
    color: #1D6115;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
}


.dashboard_con {
    position: absolute;
    right:15%;
    top:30%;
    width: 40%;
}

.dashboard_con2 {
    position: absolute;
    left:10%;
    top:30%;
    width: 35%;
}



.dorm_con {
   margin: 100px 0px 0px 350px;
    height: auto;
    display:flex;
}

.onoffcampus_con {
    width: 300px;
    height: auto;
    margin-right: 150px;
}

.onoffcampus_con a{
    text-decoration: none;
    color: #0C4B05;
}


.dorm_details_con {
    position: absolute;
    left:3%;
    width: 40%;
}

.dorm_name {
    background-color: #0C4B05;
    color: #FFCD00;
    padding-left: 50px;
    margin-top:3%
}

.dorm_details {
    color: #FFCD00;
    font-family: ABold;
    font-size: 2vw;
    margin-left: 40%;
    width: 70%;

}

.dorm_img {
    display: flex;
    margin-top: 100px;
}

/*SLIDESHOW IMAGE CSS*/
* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .imgcontainer {
    position: relative;
    padding-left: 30px;
    width: 80%;
    height: 350px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 7%;
    padding: 3%;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    padding-right: 5%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color:#0C4B05;
    color: #FFCD00;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1vw;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
/*SLIDESHOW IMAGE CSS*/


/* USER NAVIGATION */

.menu{
    display: flex;
    float: right;
    margin-top: -80px;
    margin-left: 62%;

}

  .menu a {
    text-decoration: none;
    color:#FFCD00;
    padding: 10px;
    display:inline-block;
    font-size: 1.2vw;
  }
  .menu a:hover{
    background-color: #1D6115;
    color:#FFCD00;
  }
  .menu ul {
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
  }

  .menu ul li {
      display: inline-block;
      }

  .menu ul li:hover {
      background-color: #1D6115;
     }

  .menu ul li:hover ul {
      display: block; 

    }

  .menu ul li ul {
    position: absolute;
    width: auto;
    background-color: #1D6115;
    display: none;
    margin-top: 50px;
    width: auto;
}

  .menu ul li ul li { 
    background: #1D6115; 
    display: block; }

  .menu ul li ul li a {
      display:block !important;
    } 

  .menu ul li ul li a:hover {
      background: #0C4B05;
      color: #FFCD00;
   }

/* CONTACT PAGE CONTAINER */

.contactcontainer{
  display:flexbox;
  margin-top: 1%;
  padding-left: 5%;    
  height: 550px;
  overflow: auto;
}

.contactcontainer img{
  width: 4%; height: 7%;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.contactcontainer ul{
  list-style-type: none;
}

.contactcontainer ol{
  font-size: 1.4vw;
}

.contactcontainer li{
  margin-top: 2%;
}

.boxcontact{
 border-style: solid; border-color: #FFCD00;
 width: 80%;
 padding-left: 5%;
 margin-top: 3%;
}
/* END CONTACT PAGE CONTAINER */

/*SCROLLABLE LIST END*/

  /*CUSTOM SCROLL*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0C4B05; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FFB700; 
  }

  /* RIKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

  /*Login Student*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

::selection{
  background: rgba(26,188,156,0.3);
}

.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: #0C4B05;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: Regular;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #000ba0;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.btnlogin {
  width: 50%;
  height: 40px;
  border-radius: 35px;
  margin-left: 25%;
  font-size: 1vw;
  font-weight: bold;
  color: #fff;
  margin-top: 0px;
  border-style: none;
  background-color: #0C4B05;
  cursor: pointer;
} 



.btnlogin:hover{
  background: #106407;
}

 /*Dashboard Student*/

 #sidebar {
  min-width: 270px;
  max-width: 250px;
  background: #e4e2da;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.pt-5, .py-5 {
  padding-top: 3rem !important;
}

.p-4 {
  padding: 1.5rem !important;
  padding-top: 1.5rem;
}

#sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700;
}

#sidebar h1 .logoo {
  color: #000;
}

h1 {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Poppins';
  color: #000;
  font-size: 2.5rem;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(172, 12, 12, 0.1);
}

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fas {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/*Profile*/

.vd_title-section {
    background-color: #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-right: -15px;
}

.vd_panel-header {
  position: relative;
}

.vd_title-section h1 {
  margin: 0;
  font-size: 28px;
  color: #99978f;
  font-weight: bold;
  padding-right: 180px;
  padding-left: 30px;
}

img{
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.h6{
  display: block;margin-left: auto;margin-right: auto;
}

table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

